@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none; /* Elimina la barra de abajo */
  color: inherit; /* Usa el color heredado */
  font-family: 'Source Serif Pro', serif;
  color: #141414;
  font-size: 12px;
}

h1{
  text-decoration: none; /* Elimina la barra de abajo */
  color: inherit; /* Usa el color heredado */
  font-family: 'Source Serif Pro', serif;
  color: #141414;
  font-size: 55px;
}

h2{
  text-decoration: none; /* Elimina la barra de abajo */
  color: inherit; /* Usa el color heredado */
  font-family: 'Source Serif Pro', serif;
  color: #141414;
  font-size: 20px;
}

h3 {
  text-decoration: none; /* Elimina la barra de abajo */
  color: inherit; /* Usa el color heredado */
  font-family: 'Source Serif Pro', serif;
  color: #141414;
  font-size: 12px;
}


@media (hover: hover) {
  a:hover {
    
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
